<style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }

    @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">日程</li>
              <li #if($side_bar=="/schedule/create_form_schedule") class="active" #end><a href="/schedule/create_form_schedule">创建日程表单</a></li>
              <li #if($side_bar=="/schedule/daily_schedule_list/today") class="active" #end><a href="/schedule/daily_schedule_list/today">日程列表</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">