<style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }

    @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">任务</li>
              <li><a href="/task/wait_to_be_done_task">待办任务</a></li>
              <li><a href="/task/collection_task">收集箱</a></li>
              <li><a href="/task/expired_task">过期任务</a></li>
              <li><a href="/task/received_task">接受到的任务</a></li>
              <li><a href="/task/sent_task">发送的任务</a></li>
              <li><a href="/task/finish_task">完成的任务</a></li>
            </ul>
          </div>
        </div>
        <div class="span9">