<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Todo</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <li #if($top_menu =="task") class="active" #end><a href="/task/wait_to_be_done_task">任务</a></li>
                  <li #if($top_menu =="schedule") class="active" #end><a href="/schedule/create_form_schedule">日程</a></li>
                </ul>
            </div>
          </div>
    </div>
</div>