<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.mapper.ScheduleMapper">

    <resultMap id="scheduleMap" type="com.todo.model.Schedule">
        <result property="id" column="id" />
        <result property="account" column="account"/>
        <result property="passwd" column="passwd"/>
        <result property="email" column="email"/>
        <result property="createTime" column="create_time"/>
        <result property="valied" column="valied"/>
        <result property="activited" column="activited"/>
    </resultMap>

    <insert id="insertSchedule" parameterType="Schedule">
        INSERT INTO schedule (`sendor_account` , `receiver_account` , `schedule_title` , `schedule_content` , `finish_time` , `first_remind_time` , `second_remind_time` , `priority`, `media`, `status`) VALUES (#{sendorAccount}, #{receiverAccount}, #{scheduleTitle}, #{scheduleContent}, #{finishTime}, #{firstRemindTime}, #{secondRemindTime}, #{priority}, #{media}, #{status})
    </insert>

    <delete id="deleteSchedule" parameterType="Schedule">
        DELETE FROM schedule
        <where>
            <if test="sendorAccount != null">and sendor_account=#{sendorAccount}</if>
            <if test="receiverAccount != null">and receiver_account=#{receiverAccount}</if>
            <if test="scheduleTitle != null">and schedule_title=#{scheduleTitle}</if>
            <if test="scheduleContent != null">and schedule_content=#{scheduleContent}</if>
            <if test="finishTime != null">and finish_time=#{finishTime}</if>
            <if test="firstRemindTime != null">and first_remind_time=#{firstRemindTime}</if>
            <if test="secondRemindTime != null">and second_remind_time=#{secondRemindTime}</if>
            <if test="priority != null">and priority=#{priority}</if>
            <if test="media != null">and media=#{media}</if>
            <if test="status != null">and status=#{status}</if>
        </where>
    </delete>

    <update id="updateSchedule" parameterType="Schedule">
        UPDATE schedule SET
        <set>
            <if test="sendorAccount != null">and sendor_account=#{sendorAccount}</if>
            <if test="receiverAccount != null">and receiver_account=#{receiverAccount}</if>
            <if test="scheduleTitle != null">and schedule_title=#{scheduleTitle}</if>
            <if test="scheduleContent != null">and schedule_content=#{scheduleContent}</if>
            <if test="finishTime != null">and finish_time=#{finishTime}</if>
            <if test="firstRemindTime != null">and first_remind_time=#{firstRemindTime}</if>
            <if test="secondRemindTime != null">and second_remind_time=#{secondRemindTime}</if>
            <if test="priority != null">and priority=#{priority}</if>
            <if test="media != null">and media=#{media}</if>
            <if test="status != null">and status=#{status}</if>
        </set>
        <where>
            <if test="sendorAccount != null">and sendor_account=#{sendorAccount}</if>
            <if test="receiverAccount != null">and receiver_account=#{receiverAccount}</if>
            <if test="scheduleTitle != null">and schedule_title=#{scheduleTitle}</if>
            <if test="scheduleContent != null">and schedule_content=#{scheduleContent}</if>
            <if test="finishTime != null">and finish_time=#{finishTime}</if>
            <if test="firstRemindTime != null">and first_remind_time=#{firstRemindTime}</if>
            <if test="secondRemindTime != null">and second_remind_time=#{secondRemindTime}</if>
            <if test="priority != null">and priority=#{priority}</if>
            <if test="media != null">and media=#{media}</if>
            <if test="status != null">and status=#{status}</if>
        </where>
    </update>

    <select id="selectSchedule" parameterType="Schedule" resultType="scheduleMap">
        SELECT `id` , `sendor_account` , `receiver_account` , `schedule_title` , `schedule_content` , `finish_time` , `first_remind_time` , `second_remind_time` , `priority`, `media`, `status`  from schedule
        <where>
            <if test="sendorAccount != null">and sendor_account=#{sendorAccount}</if>
            <if test="receiverAccount != null">and receiver_account=#{receiverAccount}</if>
            <if test="scheduleTitle != null">and schedule_title=#{scheduleTitle}</if>
            <if test="scheduleContent != null">and schedule_content=#{scheduleContent}</if>
            <if test="finishTime != null">and finish_time=#{finishTime}</if>
            <if test="firstRemindTime != null">and first_remind_time=#{firstRemindTime}</if>
            <if test="secondRemindTime != null">and second_remind_time=#{secondRemindTime}</if>
            <if test="priority != null">and priority=#{priority}</if>
            <if test="media != null">and media=#{media}</if>
            <if test="status != null">and status=#{status}</if>
        </where>
        limit 1
    </select>

    <select id="selectScheduleList" parameterType="Schedule" resultType="scheduleMap">
        SELECT `id` , `sendor_account` , `receiver_account` , `schedule_title` , `schedule_content` , `finish_time` , `first_remind_time` , `second_remind_time` , `priority`, `media`, `status`  from schedule
        <where>
            <if test="sendorAccount != null">and sendor_account=#{sendorAccount}</if>
            <if test="receiverAccount != null">and receiver_account=#{receiverAccount}</if>
            <if test="scheduleTitle != null">and schedule_title=#{scheduleTitle}</if>
            <if test="scheduleContent != null">and schedule_content=#{scheduleContent}</if>
            <if test="finishTime != null">and finish_time=#{finishTime}</if>
            <if test="firstRemindTime != null">and first_remind_time=#{firstRemindTime}</if>
            <if test="secondRemindTime != null">and second_remind_time=#{secondRemindTime}</if>
            <if test="priority != null">and priority=#{priority}</if>
            <if test="media != null">and media=#{media}</if>
            <if test="status != null">and status=#{status}</if>
        </where>
    </select>
</mapper>